n8n-workflows/postventa-enrich-escalation.json
{
  "name": "Postventa - Enriquecer Escalacion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich-escalation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook POST /enrich-escalation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "enrich-escalation"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "melipablo",
        "options": {}
      },
      "id": "redis-get-token",
      "name": "Redis - Get Token ML",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [400, 300],
      "credentials": {
        "redis": {
          "id": "HQzKm3HsLa8ODBdx",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del webhook\nconst input = $input.first().json;\nconst body = input.body || input;\nconst escalationId = body.escalation_id;\nconst orderId = body.order_id;\nconst packId = body.pack_id;\nconst token = $('Redis - Get Token ML').first().json.propertyName;\n\nreturn [{ \n  json: { \n    escalationId, \n    orderId, \n    packId,\n    token,\n    hasOrder: !!orderId,\n    hasPack: !!packId\n  } \n}];"
      },
      "id": "prepare-data",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasOrder }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-order",
      "name": "Tiene Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.mercadolibre.com/orders/{{ $json.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-order",
      "name": "Get Order ML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del order para la escalacion\nconst order = $input.first().json;\nconst preparedData = $('Preparar Datos').first().json;\n\n// Extraer datos del producto (primer item)\nconst item = order.order_items?.[0]?.item || {};\nconst shipping = order.shipping || {};\n\n// Calcular dias desde entrega\nlet diasDesdeEntrega = null;\nif (shipping.date_delivered) {\n  const delivered = new Date(shipping.date_delivered);\n  const now = new Date();\n  diasDesdeEntrega = Math.floor((now - delivered) / (1000 * 60 * 60 * 24));\n}\n\nreturn [{\n  json: {\n    escalationId: preparedData.escalationId,\n    packId: preparedData.packId,\n    token: preparedData.token,\n    // Product data\n    product_title: item.title || null,\n    product_sku: item.seller_sku || item.seller_custom_field || null,\n    product_price: order.order_items?.[0]?.unit_price || null,\n    // Shipping data\n    envio_status: shipping.status || null,\n    envio_fecha_entrega: shipping.date_delivered || null,\n    envio_dias_desde_entrega: diasDesdeEntrega,\n    // Order data\n    order_total_amount: order.total_amount || null,\n    buyer_name: `${order.buyer?.first_name || ''} ${order.buyer?.last_name || ''}`.trim() || null\n  }\n}];"
      },
      "id": "extract-order-data",
      "name": "Extraer Datos Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasPack }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-pack",
      "name": "Tiene Pack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.mercadolibre.com/messages/packs/{{ $('Preparar Datos').first().json.packId }}/sellers/1074767186?tag=post_sale",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Datos').first().json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-messages",
      "name": "Get Messages Pack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extraer el ultimo mensaje del comprador\nconst messages = $input.first().json.messages || [];\nconst preparedData = $('Preparar Datos').first().json;\nconst sellerId = '1074767186';\n\n// Buscar el ultimo mensaje del comprador\nconst buyerMessages = messages\n  .filter(m => m.from?.user_id?.toString() !== sellerId)\n  .sort((a, b) => new Date(b.date_created) - new Date(a.date_created));\n\nconst lastMessage = buyerMessages[0];\n\nreturn [{\n  json: {\n    escalationId: preparedData.escalationId,\n    original_message: lastMessage?.text || null,\n    message_date: lastMessage?.date_created || null\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extraer Ultimo Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "jsCode": "// Combinar todos los datos enriquecidos\nconst preparedData = $('Preparar Datos').first().json;\n\n// Intentar obtener datos del order (puede no existir)\nlet orderData = {};\ntry {\n  orderData = $('Extraer Datos Order').first().json;\n} catch (e) {\n  // No hay datos de order\n}\n\n// Intentar obtener mensaje (puede no existir)\nlet messageData = {};\ntry {\n  messageData = $('Extraer Ultimo Mensaje').first().json;\n} catch (e) {\n  // No hay mensaje\n}\n\n// Combinar todo\nconst enrichedData = {\n  ...orderData,\n  ...messageData,\n  escalationId: preparedData.escalationId\n};\n\n// Remover campos undefined/null vacios\nObject.keys(enrichedData).forEach(key => {\n  if (enrichedData[key] === undefined) {\n    delete enrichedData[key];\n  }\n});\n\nreturn [{ json: enrichedData }];"
      },
      "id": "merge-data",
      "name": "Combinar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://horsepower-supabase.e5l6dk.easypanel.host/rest/v1/support_escalations?id=eq.{{ $json.escalationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  product_title: $json.product_title,\n  product_sku: $json.product_sku,\n  product_price: $json.product_price,\n  envio_status: $json.envio_status,\n  envio_fecha_entrega: $json.envio_fecha_entrega,\n  envio_dias_desde_entrega: $json.envio_dias_desde_entrega,\n  order_total_amount: $json.order_total_amount,\n  buyer_name: $json.buyer_name,\n  original_message: $json.original_message,\n  updated_at: new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "update-escalation",
      "name": "Update Escalation Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300],
      "credentials": {
        "supabaseApi": {
          "id": "Bjo1rbDdp4dLUimX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, escalationId: $json[0]?.id || $('Preparar Datos').first().json.escalationId } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook POST /enrich-escalation": {
      "main": [[{ "node": "Redis - Get Token ML", "type": "main", "index": 0 }]]
    },
    "Redis - Get Token ML": {
      "main": [[{ "node": "Preparar Datos", "type": "main", "index": 0 }]]
    },
    "Preparar Datos": {
      "main": [[{ "node": "Tiene Order?", "type": "main", "index": 0 }]]
    },
    "Tiene Order?": {
      "main": [
        [{ "node": "Get Order ML", "type": "main", "index": 0 }],
        [{ "node": "Tiene Pack?", "type": "main", "index": 0 }]
      ]
    },
    "Get Order ML": {
      "main": [[{ "node": "Extraer Datos Order", "type": "main", "index": 0 }]]
    },
    "Extraer Datos Order": {
      "main": [[{ "node": "Combinar Datos", "type": "main", "index": 0 }]]
    },
    "Tiene Pack?": {
      "main": [
        [{ "node": "Get Messages Pack", "type": "main", "index": 0 }],
        [{ "node": "Combinar Datos", "type": "main", "index": 0 }]
      ]
    },
    "Get Messages Pack": {
      "main": [[{ "node": "Extraer Ultimo Mensaje", "type": "main", "index": 0 }]]
    },
    "Extraer Ultimo Mensaje": {
      "main": [[{ "node": "Combinar Datos", "type": "main", "index": 0 }]]
    },
    "Combinar Datos": {
      "main": [[{ "node": "Update Escalation Supabase", "type": "main", "index": 0 }]]
    },
    "Update Escalation Supabase": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
